//todo rocket full
#clouds,
#stars,
#stars,
#orbits,
#sarurn,
#jupiter,
#rocket__intro,
#astronaut__bottom,
#astronaut__mid,
#astronaut__top,
#frame,
#smoke_n_flame,
#smallplanet__right,
#small_planet__left,
#pictures,
#_x32_satelite__left,
#_x32_satelite__right,
#socialmedia__left,
#yandex__right,
#eko,
#satelite__right,
#satelite__left,
#camera,
#smallrocket__left,
#smallrocket__right,
{
  opacity: 0;
}

//todo rocket start
#clouds_1_,
#frame__bottom_6_,
#rocket__8,
#astronaut__bottom_1_,
#astronaut__mid_1_,
#astronaut__top_1_,
#_x35_pic_7_,
#_x34_pic_7_,
#_x33_pic_7_,
#_x32_pic_7_,
#_x31_pic_7_,
#_x32_satelite__left_8_,
#_x32_satelite__right_16_,
#socialmedia__left_9_,
#yandex__right_8_,
#eko_8_,
#satelite__right_9_,
#socialmedia__left,
#satelite__left_9_,
#camera_15_,
#smallrocket__right_5_,
#smallrocket__left_9_,
{
  opacity: 0;
}


//hidden text in spaceship
#lin,
#fb,
#insta,
#yt,
#yandex,
{
  opacity: 0;
}

.button {
  border: 0;
  background: transparent;
  color: #FFF0DF;
  z-index: 200;
  position: relative;
}
